body{
  overflow: auto;
  background-image: linear-gradient(to right, #993cb1, #4bb1c9);

}
.mainInfo-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mainInfo-welcome{
  margin-left: 80px;
  margin-bottom: 16px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 45px;
  color: white;
}

.mainInfo-user-tips{
  margin-left: 80px;
  font-family: 'poppins';
  font-weight: 400;
  font-size: 28px;
  color: white;
  width: 38vw;
  line-height: 28px;
}

.mainInfo-avatar-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  margin-right: 160px;
  border-radius: 90px;
  border-bottom-left-radius: 10px;
  background-color: #993cb1;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1)
}

.mainInfo-avatar-icon:hover{
  height: 173px;
  width: 173px;
}

.mainInfo-avatar-icon > img{
  height: 80%;
  width: 80%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 70px;
}

.mainInfo-perfil{
  display: flex;
  flex-direction: column;
}


/* Resposive mobile */
@media only screen and (max-width: 600px) {
  
  .mainInfo-card{
    height: 200px;
  }

  .mainInfo-welcome{
    margin-left: 20px;
    margin-bottom: 3px;
    font-size: 20px;
  }

  .mainInfo-user-tips{
    margin-left: 20px;
    font-size: 13px;
    width: 46vw;
    line-height: 15px;
  }

  .mainInfo-avatar-icon{
    margin: 0px;
    margin-right: 20px;
    height: 120px;
    width: 120px;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 768px){
  .mainInfo-avatar-icon{
    margin-right: 70px;
  }
}

